* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: #8A51FC;

}

.logo {
    
        display: block;
        margin: 20px auto;
        width: 300px;
    

}

main {
    width: 375px;
    background: white;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {

    font-size: 14px;
    font-weight: 400;    

}

select,
input {
    background: #FFFFFF;
    cursor: pointer;
    padding-left: 18px;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    border: 1px solid #BBBBBB;
    
}

button {
    width: 100%;
    height: 48px;
    border: none;
    background: #772FD3;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

button:hover {

    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #772FD3
   
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    background: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}


@media (max-width: 400px) {
    main {
        width: 90%;
        padding: 32px 16px;
    }

    .logo {
        width: 80%;
    }
}

.custom-select-wrapper {
    position: relative;
  }
  
  .custom-select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 40px; /* espaço pra seta */
  }
  
  .select-arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.3s ease;
  }
  
  .custom-select-wrapper {
    position: relative;
  }
  
  .custom-select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    pointer-events: none;
  
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23555' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
  }
  